{% extends 'base.html' %}
{% load static %}
{% block title %}
Log-In
{% endblock title %}

{% block content %}

<!-- CLASS -->
<section class="class section" id="class">
    <div class="container">

        <div class="mb-1">
            <h3><b><a href="{% url 'register' %}">New User, Please Register Here</a></b></h3>
            <br>
            <br>
        </div>

        <div class="mt-1">
            <h6 data-aos="fade-up">
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
            </h6>
        </div>

        <div class="mb-1">
            <h6 data-aos="fade-up">
                {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
                {% endif %}
            </h6>


            <div class="mb-1">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="Log-In" class="btn btn-outline-info"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="mb-1">
            <h6>
                {# Assumes you setup the password_reset view in your URLconf #}
                <h4><a href="{% url 'password_reset' %}">Lost password?</a></h4>
            </h6>
        </div>

    </div>
</section>

{% endblock %}