{% extends 'base.html' %}
{% load static %}
{% block title %}
Password Reset Done
{% endblock title %}

{% block content %}
<section class="class section" id="class">
    <div class="container">
        <div class="mb-1">
            <h4>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</h4>
            <br><h4>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
            check your spam folder.</h4>
            <br><h4>Now you <b><a href="{% url 'login'%}?next={{request.path}}">Login</a></b> here : </h4>
        </div>
    </div>
</section>
{% endblock %}