{% extends 'base.html' %}
{% load static %}
{% block title %}
Yoga Center Details
{% endblock title %}

{% block content %}

<!-- CONTACT -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">

            <div class="ml-auto col-lg-5 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                <div>

                    <h1><strong>{{ yoga.name }}</strong></h1><br>
                    <h5>Description: <i>{{ yoga.desc }}</i></h5><br>
                    <h5>Location: <i>{{ yoga.address }}</i></h5><br>
                    <h6>Time: {{ yoga.start_time }} - {{ yoga.end_time }}</h6><br>
                    <h6>Contacts:</h6><br>
                    <h5> {{ yoga.contact_no}} </h5><br>
                    <h5> {{ yoga.email}} </h5><br>

                </div>
            </div>

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Where you can <span>find us</span></h2>
                <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> {{ yoga.address }}</p>
                <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
                    4. Copy only URL and paste it within the src="" field below
                -->
                <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}