{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock title %}

{% block content %}

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home"
         style="background-image: url('../static/images/hero-bg.jpg');">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <h6 data-aos="fade-up" data-aos-delay="300">A New Way to Build a Healthy LifeStyle!</h6>
                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">About-Us</h1>
                    <a href="#about" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">About Us</a>
                    <a href="#trainers" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="600">Our
                        Trainers</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Trainers of Clubs -->
<div class="site-section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading" data-aos="fade-up" data-aos-delay="500">
                <h2 class="mb-5">Trainers</h2>
            </div>
        </div>

        <div class="row">

            <!-- Academy -->
            {% for coach in coachs %}
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="400">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-4 thumbnail"><img src="{{ coach.img.url }}" alt="Image"
                                                                    class="img-fluid rounded-circle w-50"></a>
                    <div class="p-4">
                        <h3 class="heading mb-0 h5 "><a href="#" class="text-black">{{ coach.name }}</a></h3>
                        <p class="mb-3">Academy : {{ coach.academy }}</p>
                        <p class="mb-3"><b>Experience : {{ coach.exp }}</b></p>
                        <p class="mb-3">Vinyasa Flow, Yin, Meditation</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta
                            quis.</p>
                        <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- fitness -->
            {% for trainer in trainers %}
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="500">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-4 thumbnail"><img src="{{ trainer.img.url }}" alt="Image"
                                                                    class="img-fluid rounded-circle w-50"></a>
                    <div class="p-4">
                        <h3 class="heading mb-0 h5 "><a href="#" class="text-black">{{ trainer.name }}</a></h3>
                        <p class="mb-3">Gym : {{ trainer.fitness }}</p>
                        <p class="mb-3"><b>Experience : {{ trainer.exp }}</b></p>
                        <p class="mb-3">Vinyasa Flow, Yin, Meditation</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta
                            quis.</p>
                        <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- yoga -->
            {% for guru in gurus %}
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="600">
                <div class="hotel-room text-center">
                    <a href="#" class="d-block mb-4 thumbnail"><img src="{{ guru.img.url }}" alt="Image"
                                                                    class="img-fluid rounded-circle w-50"></a>
                    <div class="p-4">
                        <h3 class="heading mb-0 h5 "><a href="#" class="text-black">{{ guru.name }}</a></h3>
                        <p class="mb-3">Club : {{ guru.yoga }}</p>
                        <p class="mb-3"><b>Experience : {{ guru.exp }}</b></p>
                        <p class="mb-3">Vinyasa Flow, Yin, Meditation</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore recusandae soluta
                            quis.</p>
                        <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<section id="counting"></section>

<!-- Our Services -->
<section id="facts">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-delay="300">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2>Our Services</h2>
            </div>
        </div>
        <div class="row counters">

            <div class="col-lg-3 col-6 text-center" data-aos="fade-up" data-aos-delay="400">
                <span data-toggle="counter-up" class="counter-plus" data-count="{{ num_trainers }}">0</span>
                <p>Trainers</p>
            </div>

            <div class="col-lg-3 col-6 text-center" data-aos="fade-up" data-aos-delay="500">
                <span data-toggle="counter-up" class="counter-plus" data-count="{{ num_clubs }}">0</span>
                <p>Clubs</p>
            </div>

            <div class="col-lg-3 col-6 text-center" data-aos="fade-up" data-aos-delay="600">
                <span data-toggle="counter-up" class="counter-plus" data-count="{{ num_trainings }}">0</span>
                <p>Total Trainings</p>
            </div>

            <div class="col-lg-3 col-6 text-center" data-aos="fade-up" data-aos-delay="700">
                <span data-toggle="counter-up" class="counter-plus" data-count="148">0</span>
                <p>Joined People</p>
            </div>

        </div>
    </div>
</section>

<!-- ABOUT -->
<section class="about section" id="about">
    <div class="container">
        <div class="row">

            <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hello, we are Developers</h2>
                <p data-aos="fade-up" data-aos-delay="400">We love to build new things and getting hands dirty with new
                    technologies. We learn some new technologies and try to implementing in real life applications.</p>
                <br>
                <p data-aos="fade-up" data-aos-delay="500">We develop this website to give information about health
                    related activities, which are near to you. So you can easily find the sources and we will trying our
                    best to help you out.</p>
            </div>

            <div class="ml-lg-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                <div class="team-thumb">
                    <img src="{% static 'images/developers/dishen_photo.jpg' %}" class="img-fluid" alt="Trainer">

                    <div class="team-info d-flex flex-column">

                        <h3>DISHEN MAKWANA</h3>
                        <span>Django Developer</span>
                        <span>Front-end Developer</span>

                        <ul class="social-icon mt-3">
                            <li><a href="https://github.com/DishenMakwana" class="fa fa-github"></a></li>
                            <li><a href="https://linkedin.com/in/dishen-makwana" class="fa fa-linkedin"></a></li>
                            <li><a href="https://www.instagram.com/i_dishen_/" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-3 col-md-6 col-12" data-aos="fade-up"
                 data-aos-delay="800">
                <div class="team-thumb">
                    <img src="{% static 'images/developers/dhruv_photo.jpeg' %}" class="img-fluid" alt="Trainer">

                    <div class="team-info d-flex flex-column">

                        <h3>DHRUV VACHHANI</h3>
                        <span>Django Developer</span>
                        <span>Front-end Developer</span>

                        <ul class="social-icon mt-4">
                            <li><a href="https://github.com/dhruv-vachhani" class="fa fa-github"></a></li>
                            <li><a href="https://linkedin.com/in/dhruv-vachhani" class="fa fa-linkedin"></a></li>
                            <li><a href="https://www.instagram.com/dhru._.v/" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}